
<div id="app1">
	@*   <p v-show="gorunsun" v-if="olussun"> {{baslik}}</p> *@
	@* <p v-for="x in isimler">{{x.isim}}</p>
    <ul>
    <li v-for="x in isimler">{{x.isim}}</li>
    </ul> 
	<button v-on:click ="olussun=!olussun" class="btn btn-primary">Deneme</button>
	  <button v-on:click ="denemeClick" class="btn btn-primary">Deneme</button>

    <input type="text" v-model="baslik">
    <br>
    <p>{{baslik}}</p> *@
	@* <p v-show="gorunsun" v-if="olussun"> {{baslik}}</p> *@

	@* <button v-on:click="listele" class="btn btn-primary">{{baslik}}</button> *@
	<input type="text" v-model="yeniMarka" placeholder="Marka Adı">
	<button class="btn btn-primary" v-on:click="yenimarkafunc"> Ekle </button>
	<div class="jumbotron mt-5">
		<h4 class="text-primary"> Tüm Markalar</h4>
		<table class="table table-hover">
			<tbody>
			<thead>
				<tr>
					<th>{{baslik}}</th>
					<th></th>
				</tr>
			</thead>
			<tr v-for="b in brands" :class="{'table-warning' : b == duzenlenenMarka}">
				<td class="w-50">
					<input v-if="b == duzenlenenMarka" v-model="duzenlenenMarka.name">
					<span v-else>{{b.name}}</span>
				</td>
				<td>
					<div v-if="b == duzenlenenMarka">
						<span>Emin misiniz? </span>
						<button class="btn btn-secondary btn-sm ml-6" v-on:click="duzenlenenMarka=null"> İptal </button>
						<button class="btn btn-danger btn-sm" v-on:click="duzenlemarkafunc(duzenlenenMarka)"> Değişiklikleri Kaydet </button>
					</div>
					<div v-else>
						<button class="btn btn-outline-secondary btn-sm" v-on:click="duzenlenenMarka=b"> Düzenle </button>
						<button class="btn btn-outline-danger btn-sm" v-on:click="markasilfunc(b)"> Sil </button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>

	</div>
</div>



@section Scripts {
	@* <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> *@
	@* <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script> üretim *@

	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

	<script src="~/js/rentacar.js"></script>
}
